<angular-weather-widget
  [APIKEY]="APIKEY"
  [width]="'280px'"
  [height]="'auto'"
  [backgroundColor]="'#000'" 
  [isBoxShadow]="true"
  [borderRadius]="'5px'"
  [locationFontSize]="'40px'"
  [locationFontColor]="'#fff'"
  [status]="true"
  [statusFontColor]="'#fff'"
  [statusFontSize]="'18px'"
  [temperature]="'true'"
  [isDegree]="true"
  [isFahrenheit]="false"
  [tempratureFontColor]="'#fff'"
  [tempratureFontSize]="'80px'"
  [weatherImages]="true"
  [weatherImageWidth]="'100px'"
  [weatherImageHeight]="'100px'"
  [geoLocation]="true"
  [location]="''"
  [isWind]="true"
  [isWindKPH]="true"
  [isWindMPH]="false"
  [windFontColor]="'#fff'"
  [windFontSize]="'20px'">
</angular-weather-widget>
